{%- extends 'bootstrap/base.html' -%}

{% block styles -%}
    {{super()}}
    <link href="{{ url_for('static', filename='footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock scripts %}

{%- block title -%}
    {%- if title -%}{{ title }}{%- else -%}{{ "Footbal info" }}{%- endif -%}
{%- endblock title -%}

{%- block navbar -%}
<nav class="navbar navbar-default">
    <div class="container">
        {# For brand and colapsed navbar. #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{{ "Toggle navigation" }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <p style="font-weight:400;" >
                    {{ "FOOTBAL INFO" }}
                </p>
            </a>
        </div>
        {# Navbar content #}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!--
                <li>
                    <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ "Тестовые запросы" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for('queries.players') }}">{{ "Игроки" }}</a></li>
                    </ul>
                </li> -->
                <li>
                    <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ "Сложные SELECT'ы" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for('queries.top_teams_by_players_amount') }}">{{ "Команды с самым количество игроков" }}</a></li>
                        <li><a href="{{ url_for('queries.team_wins_count') }}">{{ "Количество побед команд" }}</a></li>
                        <li><a href="{{ url_for('queries.players_matches') }}">{{ "Количество сыгранных матчей игроками" }}</a></li>
                        <li><a href="{{ url_for('queries.goals_in_leagues') }}">{{ "Количество забитых голов в лигах" }}</a></li>
                        <li><a href="{{ url_for('queries.country_mean_player_stats') }}">{{ "Физические характеристики игроков стран" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ "Оконные функции" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for('queries.top_highest_players') }}">{{ "Самые высокие игроки" }}</a></li>
                        <li><a href="{{ url_for('queries.youngest_players_in_league') }}">{{ "Самые молодые игроки" }}</a></li>
                        <li><a href="{{ url_for('queries.league_players_matches_ratio') }}">{{ "Доля матчей игроков в лиге" }}</a></li>
                        <li><a href="{{ url_for('queries.team_scored_and_missed_goals') }}">{{ "Статистика забитых и пропущенных голов" }}</a></li>
                        <li><a href="{{ url_for('queries.league_teams_goals_gap') }}">{{ "Оставание команд в лидерборде лиги" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ "Аналитические функции" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for('queries.team_rating_by_wins') }}">{{ "Рейтинг команд" }}</a></li>
                        <li><a href="{{ url_for('queries.league_heaviest_players') }}">{{ "Самые тяжелые игроки" }}</a></li>
                        <li><a href="{{ url_for('queries.league_last_matches') }}">{{ "Последние игры лиги" }}</a></li>
                        <li><a href="{{ url_for('queries.league_home_goals_stat') }}">{{ "Статистика игр хозяев" }}</a></li>
                        <li><a href="{{ url_for('queries.league_median_sum_goals') }}">{{ "Медиана забитых голов в лигах" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ "Представления" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for('queries.players') }}">{{ "Игроки" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ "Хранимые процедуры" }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for('queries.players') }}">{{ "Игроки" }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{%- endblock navbar -%}

{%- block content -%}
{{super()}}
<div class="container">
    {%- with messages = get_flashed_messages() -%}
        {%- if messages -%}
            {%- for message in messages -%}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {%- endfor -%}
        {%- endif -%}
    {%- endwith -%}
    {%- block app_content -%}
        {# NOTE application content needs to be provided in this block #}
    {%- endblock -%}
</div>
<br/>

{%- block footer -%}{# Custom footer #}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                {{ "Footballinfo для курса баз данных. " }}
            </p>
        </div>
    </footer>
{%- endblock -%}
{%- endblock content -%}
